<div class="flex w-80 h-64 shadow-md rounded-md">
    <div class="w-1/2 h-full">
        <img
            src="https://upload.wikimedia.org/wikipedia/en/b/b1/The_Cave_Book_Cover_2.jpg"
            class="w-full h-full object-contain"
        />
    </div>
    <div class="w-1/2 h-full p-4">
        <h4 class="font-bold">Book name</h4>
        <p>Genre</p>
        <p>By author</p>
        <div class="rating">
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
        </div>
        <button class="btn btn-primary">
            Add to Cart
        </button>
    </div>
</div>