{% extends "layout/admin.html" %}

{% block body %}

<div class="container py-4" x-data="data" x-init="getEditorials">
    <div>
        <a href="/admin/editorials/create" class="btn btn-sm btn-primary">
            Create
        </a>
    </div>
    <template x-if="!loading">
        <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->   
                <thead>
                <tr>
                    <th></th>
                    <th>Editorial Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="editorial in editorials">
                    <tr>
                        <th x-text="editorial.id"></th>
                        <td x-text="editorial.name"></td>
                        <td>
                            <a :href="'/admin/editorials/edit/' + editorial.id" class="btn btn-secondary btn-sm">
                                <span class="icon-[basil--edit-outline]"></span>
                            </a>
                            <button class="btn btn-primary btn-sm">
                                <span class="icon-[fluent--delete-12-filled]"></span>
                            </button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>

</div>

{% endblock %}

{% block scripts %}
<script>
    Alpine?.data("data", () => ({
        editorials: [],
        loading: true,
        async getEditorials(){
            <!-- return; -->
            this.loading = true;
            try{
                const response = await axios.get(`/api/v1/editorials`);
                this.editorials = response?.data;
                console.log("response: ", response);
            }
            catch(error){
                console.log("error: ", error);
            }
            
            this.loading = false;
        }
    }));
</script>
{% endblock %}